<!DOCTYPE html>


<html>

  <head>

	<link rel="apple-touch-icon" href="meta/ios/iTunesArtwork@2x.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <title>Snack Shack Store</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
		
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
  	<script src="https://unpkg.com/vue"></script>
		<script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
		<script src="https://www.gstatic.com/firebasejs/5.3.1/firebase-firestore.js"></script>
		<script src="https://unpkg.com/vue-firestore"></script>
		<script src="https://unpkg.com/v-data-table/dist/v-data-table.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>
  
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/vue-paypal-checkout/dist/vue-paypal-checkout.min.js"></script>
  </head>

  <body>

		<div id="app">
		
			<div class="header" >
				<h4 style="margin-left:10%">Snack Shack</h4>
			</div>

			<h4 style="margin-left:12%;margin-top:5%;margin-bottom:2%">Products</h4>
	
			<div class="row">
					
        <div align="center"class="col-sm-4" v-for="item in items">
         <button v-on:click="addPurchase(item)" class="designItems">{{item.Item}}</button>
				 <label>- {{item.Price}}</label>
				 <hr/>
        </div>

			</div>
				
				<div class="centerCheckout">
					<h3> Checkout </h3>
					<hr style="width:55%"/>
					<div style="background-color:light-gray; width:50%;margin-bottom:1%;text-align:center">
						<ul style="list-style-type: none;">
							<li v-for="purchase in purchases" >
									{{purchase.Item}} - {{purchase.Price}} | {{purchase.Sold}}
							</li>
						</ul>
						
						<hr style="width:75%"/>
						<h6 > Total : ${{total.toFixed(2)}}</h6>
						<button class="check" @click="clear()">Clear</button>
						<button class="check" @click="completeCheckout()">Complete Order</button>
						
					</div>
				</div>
				<div align="center" style="padding-bottom:5%">
				
				<!--
				<paypal-checkout
					env="sandbox"
					:amount="total.toFixed(2)"
					currency="USD"
					v-bind:client="paypal">
				</paypal-checkout>
				-->
				</div>
		</div>
		
		
		<script src="script.js"></script>
  </body>

</html>